name: Java CI with Maven
on:
  push:
    branches: [main]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Step 1 - Checkout main branch from GitHub
        uses: actions/checkout@v4

      - name: Step 2 - Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'corretto'
          cache: 'maven'

      - name: Step 3 - Build Maven Project
        run: |
          mvn -B package --file pom.xml
          mkdir staging && cp target/*.jar staging

      - name: Step 4 - Persist workflow data as artifacts
        uses: actions/upload-artifact@v5
        with:
          name: 'BlueCore'
          path: staging
          retention-days: 30